<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>

    <link href="css/estilo.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav>
            <div id="header">
                <ul class="nav">
                	<li><a href="login.html">Nuevo Ingreso</a></li> 
 					<li><a href="">Usuarios</a>
                        <ul>
                            <li><a href="altaUsuario.jsp">Crear Usuario</a></li>
                            <li><a href="listarUsuarios2.jsp">Listado de Usuarios</a></li>
                        </ul>
                    </li>                    
 					<li><a href="">Provincias</a>
                        <ul>
                            <li><a href="listarProvincias.jsp">Listado de Provincias</a></li>
                            <li><a href="altaProvincia.jsp">Alta de Provincias</a></li>
                        </ul>
                    </li>        
                </ul>
            </div>
        </nav>
    </header>

    <div class="imagen">
        <hr>
        <img src="images/sky.png">
        <hr>
    </div>    
</body>
</html>